:root {
    /* Primary */
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    /* Neutral */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}
header{
    max-width: 1280px;
    margin: 8rem auto 5rem;
}
header > * {
    margin: 2.5rem auto;
    padding:0 1rem;
    text-align: center;
}
header > p{
    max-width: 500px;
}
.img-cover{
    max-width: 1035px;
    margin:10rem auto 5rem;
    user-select: none;
}
.img-cover>img{
    width:100%;
    user-select: none;
}
.web-data-show{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.showOffInfo{
    padding: 2rem;
    text-align: left;
    user-select: none;
}
.showOffInfo > h1{
    color: var(--Very-Dark-Cyan);
}
.showOffInfo > p{
    color: hsl(0, 0%, 50%);
    font-size: 1.2rem;
    text-align: center;
}